<%- include('layout/header.ejs') -%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>


    <div class="px-4 py-1 my-3 text-center">
        <h1 class="fw-normal mt-4">My Skills</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4" style="color: rgb(87, 86, 86);">I believe that everyone has a ability or skill that they can  support themself and to succeed in life.</p>
        </div>


        <div class="row mt-5" style="text-align: center;">
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="./skill/html.jpg" alt=""><br>
              <h2 style="font-size:large; margin-top: 1%;"><b>Html</b></h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="./skill/css.jpg" alt="">
              <h2 style="font-size:large; margin-top: 1%;"><b>Css</b></h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="./skill/js.jpg" alt="">
              <h2 style="font-size:large; margin-top: 1%;"><b>Js</b></h2>
            </div><!-- /.col-lg-4 -->
          </div>

<br>
          <div class="row">
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="./skill/bootstarp.jpg" alt="">
              <h2 style="font-size:large; margin-top: 1%;"><b>Bootstrap</b></h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="./skill/ai.jpg" alt="">
              <h2 style="font-size:large; margin-top: 1%;"><b>Ai tools</b></h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" src="./skill/nodejs.jpg" alt="">
              <h2 style="font-size:large; margin-top: 1%;"><b>Nodejs</b></h2>
            </div><!-- /.col-lg-4 -->
          </div>


      </div>


      

      


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>