<%- include('layout/header.ejs') -%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>


    <div class="px-4 py-1 my-3 text-center">
        <h1 class="fw-normal mt-4">Contact Us</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4" style="color: rgb(87, 86, 86);">Drop us a line. Get in touch. Reach out..</p>
        </div>

        <div class="container px-4 py-5" id="featured-3">
          
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                 <img src="./images/phone.png" width="50px" alt="">
                </div>
               <p><b>+8766342528</b></p>
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                 <img src="./images/mail.png" width="50px" alt="">
                </div>
               <p><b>tyagiprajal@gmail.com</b></p>
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                 <img src="./images/github.png" width="50px" alt="">
                </div>
               <p><b>Prajal_Tyagi</b></p>
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                 <img src="./images/link.png" width="50px" alt="">
                </div>
               <p><b>prajal tyagi</b></p>
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
                 <img src="./images/loc.png" width="50px" alt="">
                </div>
               <p><b>Ghaziabad,India 201001</b></p>
              </div>
            </div>
          </div>


        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>