
<%- include('layout/header.ejs') -%>


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
  </head>
  <body style="background-color: rgb(194, 187, 209);">



  

    <div class="container mt-4" style="display: flex;
align-items: center; justify-content: center; text-align: center;">
      <div class="col-lg-4">
       <img src="./images/pri.jpg" width="300px" height="300px" alt="" style="border-radius: 50%; border: 2px double rgb(83, 82, 82); padding: 2px;">
        <h2 class="fw-normal">Prajal Tyagi</h2>
        <p style="color: rgb(95, 93, 93); "><b> Aspiring
          Web Developer & Coder. </b></p>

          <p  style="color: rgb(87, 86, 86);">My career objective is to work in good IT company.
            If you talk about my source of inspiration .It is my career objectives that always motivates me to work hard.
            Last but not least as a human being , I am open ,kind and helping nature guy.
            That’s all about me..</p>
        <p><a class="btn btn-secondary" href="./docs/prajalResume.pdf">DownLoad Resume »</a></p>
      </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

